html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #fff;
    color: #fff;
    text-align: center;
}

#container {
    display: table;
    width: 100%;
    height: 100%;
}

#game {
    display: table-cell;
    vertical-align: middle;
}

#screen {
    display: inline-block;
}

#screen canvas {
    border: 1px solid #fff;
}

